<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <% @seasons.each do |season| %>
          <%= link_to season_path(season.id), class: "list-group-item" do %>
            <%= season.name %>

            <% if season.is_active %>
              <span class="badge">A</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3">
      <h4>
        Events
      </h4>

      <hr>

      <%= render @season.events.order('started_at') %>
    </div>

    <div class="col-md-6">
      <h4>
        Standings
      </h4>

      <hr>

      <table class="table table-striped">
        <thead>
          <th>
            Player
          </th>

          <th>
            Rating
          </th>

          <th>
            Games
          </th>

          <th>
            Deviation
          </th>

          <th>
            Volatility
          </th>
        </thead>

        <tbody>
        <% @season.standings.order('rating DESC').each do |standing| %>
          <tr>
            <td>
              <%= standing.user.fullname %>
            </td>

            <td>
              <%= number_with_precision(standing.rating, precision: 0) %>
            </td>

            <td>
              <%= standing.number_of_games %>
            </td>

            <td>
              <%= number_with_precision(standing.deviation, precision: 0) %>
            </td>

            <td>
              <%= number_with_precision(standing.volatility, precision: 6) %>
            </td>

          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
