<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <% @seasons.each do |season| %>
          <%= link_to season_path(season.id), class: "list-group-item" do %>
            <%= season.name %>

            <span class="badge">A</span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3">
      <h4>
        Events
      </h4>

      <hr>

      <%= render @season.events.order('started_at') %>
    </div>

    <div class="col-md-6">
      <h4>
        Standings
      </h4>

      <hr>

      <% @season.standings.order('rating DESC').each do |standing| %>
        <p>
        <%= standing.user.fullname %> — <%= standing.rating %> — <%= standing.number_of_games %>
        </p>
      <% end %>
    </div>
  </div>
</div>
