<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Edit profile
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for(current_user) do |f| %>
        <div class="form-group">
          <%= f.label :fullname, "Your name:" %>
          <%= f.text_field :fullname,
            autofocus: true,
            class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email,
            class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password,
            class: "form-control",
            placeholder: "Leave blank to keep current" %>
        </div>

        <button class="btn btn-success">Update profile</button>
      <% end %>
    </div>
  </div>
</div>
