<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @event.started_at.strftime("%U").to_i.ordinalize %> week

      <small>
        <%= @event.started_at.strftime("%d %b %Y") %> &ndash;
        <%= @event.finished_at.strftime("%d %b %Y") %>
      </small>
    </h1>


    <div class="subnav">
      <hr>

      <ul>
        <li>
          <%= link_to "â† Back to season", season_path(@event.season) %>
        </li>

        <% if @event.is_closed && !@event.is_rated %>
        <li>|</li>

        <li>
          <%= link_to "Calculate event",
            calculate_event_path(@event),
            method: :put %>
        </li>
        <% end %>
      </ul>

      <hr>
    </div>
  </div>
</div>

<% if user_signed_in? %>
<div class="row new-match">
  <div class="col-md-12">
    <%= link_to "Submit Match Result",
      new_match_path,
      class: "button btn-primary btn-lg btn-block text-center" %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Overview", event_path(@event) %>
      </li>

      <li>
        <%= link_to "Standings", standings_event_path(@event) %>
      </li>

      <!-- <li> -->
      <!--   <%= link_to "Charts", charts_event_path(@event) %> -->
      <!-- </li> -->
    </ul>
  </div>
</div>
