<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> <!-- Played on -->
    <div class="col-md-12">
      <div class="form-group">
        <%= f.date_select :played_on %>
      </div>
    </div>
  </div>

  <div class="row"> <!-- First player -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= select_tag "first_player_id",
            options_from_collection_for_select(User.all, "id", "fullname"),
            class: "form-control" %>
        </div>

        <div class="panel-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= select_tag "first_player_corporation_id",
                    options_from_collection_for_select(Identity.corporations, "id", "name"),
                    class: "form-control" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :first_player_corporation_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= select_tag "first_player_runner_id",
                    options_from_collection_for_select(Identity.runners, "id", "name"),
                    class: "form-control" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :first_player_runner_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"> <!-- Second player -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= select_tag "second_player_id",
            options_from_collection_for_select(User.all, "id", "fullname"),
            prompt: "Select your oponent...",
            class: "form-control" %>
        </div>

        <div class="panel-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= select_tag "second_player_corporation_id",
                    options_from_collection_for_select(Identity.corporations, "id", "name"),
                    class: "form-control" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :second_player_corporation_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= select_tag "second_player_runner_id",
                    options_from_collection_for_select(Identity.runners, "id", "name"),
                    class: "form-control" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :second_player_runner_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit "Submit match result", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>
