<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <b>
        <%= pluralize(@match.errors.count, "error") %> prohibited this match from
        being saved:
      </b>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> <!-- Played on -->
    <div class="col-md-12">
      <div class="form-group">
        <%= f.date_select :played_on %>
      </div>
    </div>
  </div>

  <div class="row"> <!-- First player -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.select(
            :first_player_id,
            options_from_collection_for_select(
              User.all,
              "id",
              "fullname",
              @match.first_player_id
            ),
            { prompt: "Select player..." },
            { class: "form-control" }
          ) %>
        </div>

        <div class="panel-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.select(
                    :first_player_corporation_id,
                    options_from_collection_for_select(
                      Identity.corporations,
                      "id",
                      "name",
                      @match.first_player_corporation_id
                    ),
                    {},
                    { class: "form-control" }
                  ) %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :first_player_corporation_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.select(
                    :first_player_runner_id,
                    options_from_collection_for_select(
                      Identity.runners,
                      "id",
                      "name",
                      @match.first_player_runner_id
                    ),
                    {},
                    { class: "form-control" }
                  ) %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :first_player_runner_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"> <!-- Second player -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.select(
            :second_player_id,
            options_from_collection_for_select(
              User.all,
              "id",
              "fullname",
              @match.second_player_id
            ),
            { prompt: "Select oponent..." },
            { class: "form-control" }
          ) %>
        </div>

        <div class="panel-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.select(
                    :second_player_runner_id,
                    options_from_collection_for_select(
                      Identity.runners,
                      "id",
                      "name",
                      @match.second_player_runner_id
                    ),
                    {},
                    { class: "form-control" }
                  ) %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :second_player_runner_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.select(
                    :second_player_corporation_id,
                    options_from_collection_for_select(
                      Identity.corporations,
                      "id",
                      "name",
                      @match.second_player_corporation_id
                    ),
                    {},
                    { class: "form-control" }
                  ) %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.text_field :second_player_corporation_points,
                    class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>
