<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to the Android: Netrunner League
      </h1>

      <p class="lead">
        Such Android. Much Netrunner. Wow. Very like
      </p>
    </div>
  </div>

  <% if user_signed_in? %>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Submit Match Result",
        new_match_path,
        class: "button btn-primary btn-lg btn-block text-center" %>
    </div>
  </div>

  <hr>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h2>
        Current Standings
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player</th>
            <th>Rating</th>
            <th>Deviation</th>
            <th>Volatility</th>
          </tr>
        </thead>

        <tbody>
        <% @standings.each do |standing| %>
          <tr>
            <td><%= standing.user.fullname %></td>
            <td><%= standing.rating %></td>
            <td><%= standing.deviation %></td>
            <td><%= standing.volatility %></td>
          </tr>
        <% end %>
        </tbody>
       </table>
    </div>
  </div>
</div>
